@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* fonts */
  --font-head: 'Poppins', sans-serif;
  --font-logo: 'Lobster', sans-serif;
  --font-para: 'Raleway', sans-serif;
  /* colors */
  --color-body: #fcf5f5;
  --color-primary: #ffffff;
  --color-secondary: #272727;
  --color-black: #000000;
  --color-tertary: #ff9c07;
  --color-tertary-down: #ffae0038;
  --color-tertary-down2: #ffc3403d;
  --color-border: #dadada;
  --color-hr: #7c7c7c;
  --color-gray: #ececec2d;
  --color-forth: #21cc63;
  --bg-color-forth: #21cc636c;
  /* Accent Colors */
  --accent-color: #d37f00;
  // bread crumb
  --breadCrumb-color: #ffffff80;
  --active-breadCrumb-color: #ffffff1f;
  /* Font Sizes */
  --font-size-h1: clamp(2rem, 2.4vw, 1.8rem);
  --font-size-h2: clamp(1.4rem, 2vw, 1.65rem);
  --font-size-h3: clamp(1.1rem, 1.56vw, 1.5rem);
  --font-size-h4: clamp(0.95rem, 1.25vw, 1.2rem);
  --font-size-p: clamp(0.85rem, 1.2vw, 1.01rem);

  /* Font Sizes + Responsive Padding Sizes */
  --font-size-a: clamp(0.9rem, 1.1vw, 1rem);
  --font-size-bread: clamp(0.8rem, 1vw, 0.9rem);
  --font-size-button: clamp(0.9rem, 1.1vw, 1rem);
  --padding-a: clamp(0.5rem, 0.5vw, 1rem);
  --padding-button-inline: clamp(1rem, 1.5vw, 2rem);
  --padding-button-block: clamp(0.5rem, 0.75vw, 1rem);
}
@font-face {
  font-family: 'Glens City';
  src: url('/fonts/glens-city.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
// Browser scroller bar
::-webkit-scrollbar-thumb {
  background-color: var(--color-tertary);
  border-radius: 999px;
}

::-webkit-scrollbar-button {
  background-color: var(--color-black) !important;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
  padding: 8px;
}

::-webkit-scrollbar {
  width: 3px !important;
  max-width: 3px;
  max-height: 4px;
}

body {
  font-family: var(--font-head) !important;
  background-color: white !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000 !important;
}
.logo {
  font-family: var(--font-logo);
  font-size: clamp(1.2em, 2.4vw, 2em) !important;
  text-transform: capitalize;
}

.logo-subhead {
  font-size: clamp(0.65em, 1.6vw, 0.8em) !important;
  font-weight: bold !important;
  font-family: var(--font-head);
  text-transform: uppercase;
}

.banner-head {
  font-size: clamp(2em, 4vw, 4em) !important;
  letter-spacing: -4px;
}

h1 {
  font-size: var(--font-size-h1) !important;
}

h2 {
  font-size: var(--font-size-h2) !important;
}

h3 {
  font-size: var(--font-size-h3) !important;
}
h4 {
  font-size: var(--font-size-h4) !important;
}
//
.web-title {
  font-family: var(--font-para) !important;
}
.web-subhead {
  font-family: var(--font-head) !important;
}
.web-desc {
  font-family: var(--font-head) !important;
}
.banner-title {
  font-size: clamp(1.8em, 4vw, 4em) !important;
}
.banner-title-2 {
  font-size: clamp(1.8em, 2.5vw, 2.5em) !important;
}
.box-shadow-tertary {
  box-shadow: 0 12px 24px 5px #8b56059d;
}
.bg-linear-modal {
  background: linear-gradient(
    45deg,
    var(--color-tertary-down) 50%,
    var(--color-primary)
  ) !important;
}

p {
  font-size: var(--font-size-p);
}
input::placeholder {
  font-size: var(--font-size-p) !important;
}
hr {
  width: 100%;
  border: none !important;
  border-top: 1px solid var(--color-hr) !important;
}

a {
  font-size: var(--font-size-a) !important;
  width: max-content !important;
  font-family: var(--font-head);
  color: var(--color-tertary) !important;
  text-decoration: none !important;
  transition: 0.15s ease-out;
  &:hover {
    color: var(--accent-color) !important;
  }
}

button {
  font-size: var(--font-size-button) !important;
  font-family: var(--font-head);
  padding: var(--padding-button-block) var(--padding-button-inline);
  background-color: var(--color-tertary);
  border: none;
  transition: 0.25s ease-out;
  &:hover {
    background-color: var(--accent-color);
  }
  &:active {
    transform: scale(0.95);
  }
}

// bootstrap classes
.breadcrumb {
  margin-bottom: 0 !important;
  padding-block: 12px !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  a {
    font-size: var(--font-size-bread) !important;
  }
  .breadcrumb-item {
    font-size: var(--font-size-bread) !important;
    text-transform: capitalize;
  }
}
// colors & more
.bg-primary-c {
  background-color: var(--color-primary) !important;
}
.bg-secondary-c {
  background-color: var(--color-secondary) !important;
}
.bg-tertary {
  background-color: var(--color-tertary) !important;
}
.bg-tertary-down {
  background-color: var(--color-tertary-down) !important;
}
.bg-forth {
  background-color: var(--bg-color-forth) !important;
}
.bg-gray {
  background-color: var(--color-gray) !important;
}
.bg-border {
  background-color: var(--color-border) !important;
}
.text-primary {
  color: var(--color-primary) !important;
}
.text-gray {
  color: var(--color-gray) !important;
}
.text-hr {
  color: var(--color-hr) !important;
}
.border-gray {
  border: 1px solid var(--color-gray) !important;
}
.border-hr {
  border: 1px solid var(--color-hr) !important;
}
.text-secondary {
  color: var(--color-secondary) !important;
}
.text-tertary {
  color: var(--color-tertary) !important;
}
.color-border {
  color: var(--color-hr);
}
.text-justify {
  text-align: justify !important;
}
.text-right {
  text-align: right !important;
}
.cursor-pointer {
  cursor: pointer !important;
}

.container-fluid {
  max-width: 1800px !important;
}
// Custom padding values
$padding-sizes: (
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 28px,
  8: 32px,
  9: 36px,
  10: 40px,
);

// Generate padding classes for each type and breakpoint
@each $key, $size in $padding-sizes {
  /* Horizontal Padding */
  .px-sm-#{$key} {
    padding-left: $size !important;
    padding-right: $size !important;
  }
  @media (min-width: 768px) {
    // md breakpoint
    .px-md-#{$key} {
      padding-left: $size !important;
      padding-right: $size !important;
    }
  }
  @media (min-width: 992px) {
    // lg breakpoint
    .px-lg-#{$key} {
      padding-left: $size !important;
      padding-right: $size !important;
    }
  }
  @media (min-width: 1200px) {
    // xl breakpoint
    .px-xl-#{$key} {
      padding-left: $size !important;
      padding-right: $size !important;
    }
  }

  /* Vertical Padding */
  .py-sm-#{$key} {
    padding-top: $size !important;
    padding-bottom: $size !important;
  }
  @media (min-width: 768px) {
    // md breakpoint
    .py-md-#{$key} {
      padding-top: $size !important;
      padding-bottom: $size !important;
    }
  }
  @media (min-width: 992px) {
    // lg breakpoint
    .py-lg-#{$key} {
      padding-top: $size !important;
      padding-bottom: $size !important;
    }
  }
  @media (min-width: 1200px) {
    // xl breakpoint
    .py-xl-#{$key} {
      padding-top: $size !important;
      padding-bottom: $size !important;
    }
  }

  /* Block Padding (All Sides) */
  .p-sm-#{$key} {
    padding: $size !important;
  }
  @media (min-width: 768px) {
    // md breakpoint
    .p-md-#{$key} {
      padding: $size !important;
    }
  }
  @media (min-width: 992px) {
    // lg breakpoint
    .p-lg-#{$key} {
      padding: $size !important;
    }
  }
  @media (min-width: 1200px) {
    // xl breakpoint
    .p-xl-#{$key} {
      padding: $size !important;
    }
  }
}

// Generate margin classes for each type and breakpoint
@each $key, $size in $padding-sizes {
  /* Horizontal Margin */
  .mx-sm-#{$key} {
    margin-left: $size !important;
    margin-right: $size !important;
  }
  @media (min-width: 768px) {
    // md breakpoint
    .mx-md-#{$key} {
      margin-left: $size !important;
      margin-right: $size !important;
    }
  }
  @media (min-width: 992px) {
    // lg breakpoint
    .mx-lg-#{$key} {
      margin-left: $size !important;
      margin-right: $size !important;
    }
  }
  @media (min-width: 1200px) {
    // xl breakpoint
    .mx-xl-#{$key} {
      margin-left: $size !important;
      margin-right: $size !important;
    }
  }

  /* Vertical Margin */
  .my-sm-#{$key} {
    margin-top: $size !important;
    margin-bottom: $size !important;
  }
  @media (min-width: 768px) {
    // md breakpoint
    .my-md-#{$key} {
      margin-top: $size !important;
      margin-bottom: $size !important;
    }
  }
  @media (min-width: 992px) {
    // lg breakpoint
    .my-lg-#{$key} {
      margin-top: $size !important;
      margin-bottom: $size !important;
    }
  }
  @media (min-width: 1200px) {
    // xl breakpoint
    .my-xl-#{$key} {
      margin-top: $size !important;
      margin-bottom: $size !important;
    }
  }

  /* Single Side Margin */
  .mt-sm-#{$key} {
    margin-top: $size !important;
  }
  .mb-sm-#{$key} {
    margin-bottom: $size !important;
  }
  .ml-sm-#{$key} {
    margin-left: $size !important;
  }
  .mr-sm-#{$key} {
    margin-right: $size !important;
  }
  @media (min-width: 768px) {
    // md breakpoint
    .mt-md-#{$key} {
      margin-top: $size !important;
    }
    .mb-md-#{$key} {
      margin-bottom: $size !important;
    }
    .ml-md-#{$key} {
      margin-left: $size !important;
    }
    .mr-md-#{$key} {
      margin-right: $size !important;
    }
  }
  @media (min-width: 992px) {
    // lg breakpoint
    .mt-lg-#{$key} {
      margin-top: $size !important;
    }
    .mb-lg-#{$key} {
      margin-bottom: $size !important;
    }
    .ml-lg-#{$key} {
      margin-left: $size !important;
    }
    .mr-lg-#{$key} {
      margin-right: $size !important;
    }
  }
  @media (min-width: 1200px) {
    // xl breakpoint
    .mt-xl-#{$key} {
      margin-top: $size !important;
    }
    .mb-xl-#{$key} {
      margin-bottom: $size !important;
    }
    .ml-xl-#{$key} {
      margin-left: $size !important;
    }
    .mr-xl-#{$key} {
      margin-right: $size !important;
    }
  }
}

/* Rounded Top Corners */
.rounded-top-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.rounded-top-1 {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-top-2 {
  border-top-left-radius: 0.375rem !important;
  border-top-right-radius: 0.375rem !important;
}

.rounded-top-3 {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.rounded-top-4 {
  border-top-left-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
}

.rounded-top-5 {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

/* Rounded Bottom Corners */
.rounded-bottom-0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-bottom-1 {
  border-bottom-left-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom-2 {
  border-bottom-left-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
}

.rounded-bottom-3 {
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.rounded-bottom-4 {
  border-bottom-left-radius: 0.75rem !important;
  border-bottom-right-radius: 0.75rem !important;
}

.rounded-bottom-5 {
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}
